mixin section-first
  section.section-first-screen#firstscreen
    .parallax
      - var speed = [0.1, 0.14, 0.18, 0.18, 0.20, 0.20];
      - for (var i = 1; i < 6; i++)
        if (i === 3)
          .parallax__layer.parallax__layer--title
            .main-title
              .main-title__text Личный сайт веб-разработчика
              h1.main-title__title Наталия Петкевич
        .parallax__layer(data-speed=`${speed[i]}`)
          picture
            source(srcset=require(`images/parallax/${i}_1800.png`) media="(max-width: 1800px)").parallax__image
            source(srcset=require(`images/parallax/${i}_1200.png`) media="(max-width: 1200px)").parallax__image
            source(srcset=require(`images/parallax/${i}_768.png`) media="(max-width: 768px)").parallax__image
            img(srcset=require(`images/parallax/${i}_3660.png`)).parallax__image
    .section-first-screen__btn-scroll.btn-scroll
      a(href="#" v-scroll-to="'#about'")
        .btn-scroll__text Скролл
        .btn-scroll__icon
          +icon("scroll", "scroll-icon")